<div class="card">
    <div class="card-header">
      Prueba de calculadora de MC de  Braulio Manrique
    </div>
    <div class="card-body">
      <img [src]="urlImage" class="img-fluid rounded mx-auto d-block" width="700px" height="700px" alt="...">  
      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="txttalla" [(ngModel)]="formIMC.talla" placeholder="name@example.com">
        <label for="floatingInput">Ingrese su talla</label>
      </div>
      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="txtpeso" [(ngModel)]="formIMC.peso" placeholder="name@example.com">
        <label for="floatingInput">Ingrese su Peso</label>
      </div>
      <button type="button" (click)="calcularImc()" class="btn btn-outline-success">Calcular</button>
      @if (mostraMensaje) 
      {
        <div class="alert alert-danger" role="alert">
            {{resultado}} 
            </div>
      }
      <hr/>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Valor IMC</th>
            <th scope="col">Diagnostico</th>
          </tr>
        </thead>
        <tbody>
            @for (itemPaciente of pacienteList; track $index) 
            {<tr>
                <th scope="row">{{itemPaciente.id}}</th>
                <td>{{itemPaciente.valor}}</td>
                <td>{{itemPaciente.diagnostico}}</td>
               
              </tr>
              }
          
        </tbody>
      </table>
  </div>
